.content{
	background-color: transparent;
	border: 1px solid;
	padding: 10px;
	border-radius:0 0 5px 5px;
}

.squat{
	margin-top: 20px;
}

.seg{
	float:left;
	display:inline;
	width:200;
	margin:10;
}

.bar{
	padding-left: 10px;
	padding-right: 10px: 	
}

.title{
		background-color:#BE6100;	
}

.bar{
	height:20px;
	background-color:black;
	color:white;
}
